:root {
  --base-color: #f7fee7; /* lime50 */
  --main-color: #65a30d; /* lime600 */
  --sub-color: #fbbf24; /* amber400 */
  --accent-color: #dc2626; /* red600 */
  --dark-color: #1a2e05; /* lime950 */
}

html {
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: var(--dark-color);
  background-color: var(--base-color);
}

/* フッターを画面最下部に表示 */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* ゴシック体と明朝体を切り替える */
body#gothic {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
body#mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
    "Yu Mincho", "MS PMincho", serif;
}

/* ダークモード対応 */
html.dark {
  background-color: var(--dark-color);
  color: var(--base-color);
}

.dark .global-navigation a {
  color: var(--sub-color);
}

a {
  text-decoration: none;
  color: var(--sub-color);
}
