---
import { siteInfomation } from "@/config";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0 4rem;
    p {
      display: grid;
      place-items: center;
      width: 100%;
      height: 2rem;
    }
  }
</style>

<footer>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
  <p>&copy;{siteInfomation.name}</p>
</footer>
