---

---

<nav class="global-navigation">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags/">タグ</a>
</nav>

<style>
  /* .global-navigation {
    width: 100%;
    margin-left: auto;
    background-color: var(--sub-color);
    display: none;
    margin: 0;
    a {
      display: block;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: #ff9776;
      }
    }
  } */
</style>
